body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    color:#ffffff;
    background-image: url('');
    /*background-color: #000000;*/
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 4%, rgba(251,82,131,1) 100%);
    /*background-size: 80vh;*/
    /*background-position: center bottom;
    background-repeat: no-repeat;*/
  }
  
  input {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }
  
  input[type=number]{
    width: 50px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    font-size: 60px
    margin-top: 5px;
  }

  .texto{
    font-size: 40px
    margin-top: 5px;
    text-align: space-between;
    background-color: black;
    box-shadow: 0 0 1rem 0 rgb(105, 105, 105);  
    border-radius: 10px;
  }

  .resultado {
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(35, 13, 158);
    box-shadow: 0 0 1rem 0 rgb(105, 105, 105);
  }
  
  .cod_fonte{
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgb(105, 105, 105);
    width: 100%;
  }
  